{% extends "base.html" %}

{% block title %}{{ course['Title'] }}{% endblock %}

{% block content %}
<div class="container mt-3 mb-3 col-md-5 col-xl-4 mx-auto">
    <h1>Edit</h1>
    <div class="mb-3">
        <input type="text" id="course_title" placeholder="Course Title" class="form-control" value="{{ course['Title'] }}" autofocus>
    </div>
    <div class="mb-3">
        <input type="text" id="course_code" placeholder="Course Code" class="form-control" value="{{ course['Code'] }}" autofocus>
    </div>
    <div class="mb-3">
        <textarea id="course_description" class="form-control" placeholder="Description">{{ course['Description'] if course['Description'] else "" }}</textarea>
    </div>
    <div class="mb-2 d-flex justify-content-between align-items-center">
        <label for="profilePicture" class="d-block">
            <img id="profilePreview" 
                src="{{ course['ImageURL'] if course['ImageID'] else "https://placehold.co/600x400?text=No+Image" }}"
                class="border img-fluid" 
                style="aspect-ratio: 3/2; cursor: pointer; width: 300px; object-fit: cover; border-radius: 10px;" 
                alt="Profile Picture">
        </label>
        <input type="file" id="profilePicture" class="d-none" accept="image/*">
    </div>
    <div>
        <button class="btn btn-secondary" onclick="clearImage()">Remove Image</button>
        <button class="btn btn-secondary" onclick="resetImage()">Reset Image</button>
    </div>
    <section class="mt-4">
        <div class="mb-2 d-flex justify-content-between align-items-center">
            <h3>Sessions</h3>
            <button class="btn btn-primary" onclick="addSession({})">+</button>
        </div>
        <div id="sessions">
        </div>
    </section>

    <section class="mt-4">
        <div class="mb-2 d-flex justify-content-between align-items-center">
            <h3>Sections</h3>
            <button class="btn btn-primary" onclick="addSection({})">+</button>
        </div>
        <div id="sections">
        </div>
    </section>

    <div class="pb-2">
        <button class="btn btn-primary" onclick="SaveChanges()">Save</button>
        <a class="btn btn-secondary" href="{{ url_for('views.edit_course', course_id=course['ID']) }}">Reset</a>
        <a class="btn btn-secondary" href="{{ url_for('views.view_course', course_id=course['ID']) }}">Return To Course</a>
    </div>
</div>

<script>
    window.course_id = {{ course['ID'] }};
    window.img_url = "{{ course.get_img_url() if course.img_id else "" }}";
</script>

<script src="{{ url_for('static', filename='js/edit_course.js') }}"></script>
{% endblock %}