{% extends "base.html" %}

{% block title %}{{ course['Title'] }}{% endblock %}

{% block content %}
<div class="container">
    <div class="mt-2 mb-2 d-flex justify-content-between align-items-center">
        <h3>{{ course['Title'] }}</h3>
        {% if not joined %}
        <button class="btn btn-primary" onclick="joinCourse()">Join Course</button>
        {% else %}
        <div>
            <a class="btn btn-primary" href="{{ url_for('views.edit_course', course_id=course['ID']) }}">Edit Course</a>
            <a class="btn btn-success" href="{{ url_for('views.create_page', course_id=course['ID']) }}">Add Page</a>
        </div>
        {% endif %}
    </div>

    <section class="h-100 d-flex flex-column">
    <!-- Navigation for Pages -->
    <nav class="navbar navbar-expand-lg bg-secondary mt-3">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link text-light" href="{{ url_for('views.view_course', course_id=course['ID']) }}">About</a></li>
                    {% for section in sections %}
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ url_for('views.view_course', course_id=course['ID'], page_id=section['PageID']) }}">{{ section['Title'] }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
    </section>

    {% block course_content %}{% endblock %}
</div>

<script>
    function joinCourse() {
        fetch('/api/join_course', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                course_id: {{ course['ID'] }}
            })
        })
        .then(response => { if (response.ok) { location.reload(); } else { alert("Could not join course."); } });
    }
</script>
{% endblock %}




