{% extends "base.html" %}

{% block title %}{{ course.title }}{% endblock %}

{% block content %}
<div class="container">
    <h3>{{ course.title }}</h3>
    <section class="h-100 d-flex flex-column">
        <nav class="navbar navbar-expand-lg bg-secondary" style="height: 40px;">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarSupportedContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <button class="nav-link">
                                About
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
</div>
{% endblock %}